<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bruin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <link href="../../../resources/css/all.css" rel="stylesheet" media="screen" th:href="@{/resources/css/all.css}" />
    <style>
        .link_pool {
            width: 50%;
            margin: auto;
            display: block;
        }
        .display {
            display: block;
        }
        .hide {
            display: none;
        }
        .paper {
            width: 80%;
            display: block;
            margin: auto;
        }
        .link:hover {
            color: #193441;
            cursor: pointer;
        }
    </style>
    <script>
        //******** functions **********

        var pageLoad = function(numberOfPage) {
            $("#container").empty();
            $.ajax({
                url: "/page"+numberOfPage,
                type: "GET",
                success: function(result) {
                    console.log(result);
                    $("#container").html(result);
                }
            });
        };
        var addHistory = function(numberOfPage) {
            window.history.pushState("page"+numberOfPage, "Page "+numberOfPage, "/page"+numberOfPage);
            event.preventDefault();
        };
        var loadBase = function() {
            $('.fragment').addClass("hide");
        }
        var popStateWork = function(event) {
            console.log(location.pathname);
            switch (location.pathname) {
                case '/page1': pageLoad(1);
                    break;
                case '/page2': pageLoad(2);
                    break;
                case '/page3': pageLoad(3);
                    break;
                case '/page4': pageLoad(4);
                    break;
                case '/bruin': loadBase();
            }
        };

        $(document).on("click", "#link1", function() {
            pageLoad(1);
            addHistory(1);

        });
        $(document).on("click", "#link2", function() {
            pageLoad(2);
            addHistory(2);
        });
        $(document).on("click", "#link3", function() {
            pageLoad(3);
            addHistory(3);
        });
        $(document).on("click", "#link4", function() {
            pageLoad(4);
            addHistory(4);
        });
        $(window).on('popstate', function() {popStateWork()});

    </script>
</head>
<body>

<div class="panel">
    <div class="link_pool">
    <a href="#" class="link" id="link1">TELEGRAPH</a><span>&nbsp;&nbsp;&nbsp;</span>
    <a href="#" class="link" id="link2">Tte Arizona Republik</a><span>&nbsp;&nbsp;&nbsp;</span>
    <a href="#" class="link" id="link3">New York Times</a><span>&nbsp;&nbsp;&nbsp;</span>
    <a href="#" class="link" id="link4">The Matiz</a>
    </div>
</div>
<br/>
<div id="container">
    <!-- Add new block here from server -->
</div>
</body>
</html>